<app-affiche-home></app-affiche-home> 
   <!--artile-->
      <div class="container" style="background: #FCF7F8;     width: 100%;">
          <div class="row">
            <div class="heading-section col-md-12 text-center wow animated fadeInDown">
              <h3 style="margin-bottom: 30px ;">
                <b>تعرَف على أهم وأحدث المعلومات الطبيَة والصحيَة في العالم</b>
              </h3>
            </div>
          </div>
        </div>
        <br>
<section id="rocomendation" >

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="partenaires-list" class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class=" owl-item cloned">
                <div class="recomendation-cards ">
                  <div class="card">
                    <img class="card-img-top img-responsive" src="../../assets/img/photo-1.jpg" style="height: 200px ;" alt="Avatar">
                    <div class="card-body">
                      <h5 class="card-title" align="right"><b>مخاطر الأجهزة التكنولوجية على صحة الأطفال</b></h5>
                      <p class="card-text"align="right">نتج من التطور التكنولوجي الذي يشهده عالمنا المعاصر أجهزة وألعاباً مختلفة، أصبحت في متناول أوساط اجتماعية عديدة في الوطن العربي، وبخاصة الأطفال والمراهقين</p>
                      <a href="#" class="btn btn-primary"  align="right">مزيد من التفاصيل</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-item cloned">
                <div class="recomendation-cards">
                  <div class="card">
                    <img class="card-img-top img-responsive" src="../../assets/img/photo-6.jpg" style="height: 200px ;" alt="Avatar">
                    <div class="card-body">
                      <h5 class="card-title" align="right"><b>الأمراض المزمنة</b></h5>
                      <p class="card-text"  align="right">مجموعة من الأمراض التي تسمى أيضا "الأمراض غير المعدية"، وهي أمراض لا تنتقل بالعدوى من شخص لآخر، وتأخذ عادة إصابة الشخص بها وتطورها فترة طويلة ضمن عملية بطيئة نسبيا.</p>
                      <a href="#" class="btn btn-primary" align="right">مزيد من التفاصيل</a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="owl-item cloned">
                <div class="recomendation-cards">

                  <div class="card">
                    <img class="card-img-top img-responsive" src="../../assets/img/photo-d.jpg" style="height: 200px ;" alt="Avatar">
                    <div class="card-body">
                      <h5 class="card-title"align="right"><b>الجراحة العامَة</b></h5>
                      <p class="card-text"align="right">حسب معلومات ثابتة عن أطباء العظام وخبراء الجراحة العامَة فإنَ كسور عنق عظم الفخذ من اللإصابات العظميَة <br><br></p>
                      <a href="#" class="btn btn-primary"  align="right">مزيد من التفاصيل</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

      <!-- / article-->


      


 
<div class="container" style="background: #FCF7F8;     width: 100%;    height: 71px;" >
  <div class="row">
    <div class="heading-section col-md-12 text-center wow animated fadeInDown">
      <h3 style="margin-bottom: 30px ;     margin-top: 2%;">
        <b>التَخصَصات الطبيَة </b>
      </h3>
    </div>
  </div>
</div>
<div align="right" class="row">
<div class="col-sm-9" align="right">
    <div class="tab-content" align="right">
        <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
          <ul class="cards">

              <li class="cards_item">
                    <div class="card">
              
                          <div class="card_image">
                                <img src="//placehold.it/500x300&text=%20" />
                          </div>
              
                          <div class="card_content">
                                <h2 class="card_heading">Dr. Amine</h2>
                                <p>+216 24 567 389</p>
                                <a href="#" class="card_button">الصفحة الشخصية</a>
                          </div>
              
                    </div>
              </li>
         
               <li class="cards_item">
                    <div class="card">
              
                          <div class="card_image">
                                <img src="//placehold.it/500x300&text=%20" />
                          </div>
              
                          <div class="card_content">
                                <h2 class="card_heading">Dr. Kais</h2>
                                <p>+216 54768098</p>
                                <a href="#" class="card_button">الصفحة الشخصية</a>
                          </div>
              
                    </div>
              </li>
        
              <li class="cards_item">
                    <div class="card">
              
                          <div class="card_image">
                                <img src="//placehold.it/500x300&text=%20" />
                          </div>
              
                          <div class="card_content">
                                <h2 class="card_heading">Dr. Salma</h2>
                                <p>.</p>
                                <a href="#" class="card_button">الصفحة الشخصية</a>
                          </div>
              
                    </div>
              </li>        
        </ul>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="vtab2">
            <h3>Tab 2</h3>
            <p> ***********.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="vtab3">
            <h3>Tab 3</h3>
            <p>********.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="vtab4">
            <h3>Tab 3</h3>
            <p>******** *******.</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="vtab5">
          <h3>Tab 2</h3>
          <p> ***********.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="vtab6">
          <h3>Tab 2</h3>
          <p> ***********.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="vtab7">
          <h3>Tab 2</h3>
          <p> ***********.</p>
      </div>
    </div>
</div>

<div align="right"class="col-sm-3">
    <ul align="right" id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well"  style="background: #EFD0CA">
      <li class="active"  color="#000"><a href="#vtab1" data-toggle="tab"><b>الجراحة العامة</b></a></li>
      <li><a href="#vtab2" data-toggle="tab"><b>الروماتيزم</b></a></li>
      <li><a href="#vtab3" data-toggle="tab"><b>طب الأسنان</b></a></li>
      <li><a href="#vtab4" data-toggle="tab"><b>طب الأطفال</b> </a></li>
      <li><a href="#vtab5" data-toggle="tab"><b> طب العيون</b> </a></li>
      <li><a href="#vtab6" data-toggle="tab"><b>طب الأنف والأذن والحنجرة</b> </a></li>
      <li><a href="#vtab7" data-toggle="tab"><b>طب جراحة الوجه والفكين</b> </a></li>
    </ul>
</div>
</div>
   