
<div class="app-medecin">
    
  <div class="info-medecin">
    <div class="info-medecin-center">
<div></div> <br>
    <div></div><br>
    <div></div><br>

    <h1><a href="#"> Yasmin Ben Hlima </a>طلب إستشارة</h1></div>
  </div>
</div>
<div></div><br>
<div class="app-form" dir="rtl">
<div class="app-formulaire" dir="rtl">
    <div class="app-information">
      <h1>الاعراض المرضية</h1>
      <hr>
      <br>
      <div  class="symtome">
          <div class="info-coeur">
              <label>دقات القلب:</label><input type="number" value="50" name="coeur">
          </div>
          <div class="info-tension">
              <label> ضغط الدم:</label><input type="number" value ="13" name="tension">
             </div>

             <div class="info-t">
                <label>  هل تشعر بالتعب : </label>
            <label>نعم</label>
               
                </div>
                <div class="info-t1">

                    <label> هل تشكو من عدم وضوح الرؤية:</label>
                  <label>نعم </label>
                   </div>
                   <div class="info-t2">

                      <label>  أعراض أخرى:</label>
                     <textarea name="text" value="text" rows="7">أشعر بصداع  و دوار شديد 
                        وحرارتي مرتفعة </textarea>
          
                     </div>
      <hr>
      <div class="reponse">
         <h1>تشخيص الحالة  :</h1>
  <textarea rows="5" style="width: 100%">
          </textarea>
        <br>
      </div>
      <div class="reponse">
        <h1>الوصفة الطبية :</h1>
 <textarea rows="5" style="width: 100%">
         </textarea>
       <br>
     </div>
    </div>
<div>

   <input type="submit" value="إرسال الإجابة   " class="btn-send">
   
    
</div>

  </div>
  





